span {
  color: #111;
  font-family: "Neucha";
  font-size: 2em;
  
  letter-spacing: .125em;
  
}

p::After {
  color:red;
  content: "Can't Beat Me";
  font-family: "Neucha";
  position: fixed;
    bottom: 0;
    width: 200px;
  font-size: 1em;
}

td {
    border: 2px solid #333;
    height: 100px;
    width: 100px;
    text-align: center;
    vertical-align: middle;
    font-family: "Comic Sans MS", sans-serif;
    font-size: 70px;
    color: #00FFFF;
    cursor: pointer;
}

table {
  background-image: url(https://thumb.ibb.co/fMOEqx/9617.jpg);
  background-size: 100px;
    border-collapse: collapse;
    position: absolute;
    left: 50%;
    margin-left: -155px;
    top: 50px;
   background-color: #5CAF50;
}

table tr:first-child td {
    border-top: 0;
}

table tr:last-child td {
    border-bottom: 0;
}

table tr td:first-child {
    border-left: 0;
}
table tr td:last-child {
    border-right: 0;
}

.endgame {
  background-image: url(https://preview.ibb.co/jKqQhc/IMG_2522_1.jpg);
  background-size: 500px;
  width: 500px;
  height: 500px;
  border: 2px solid;
  color: Blue;
  position: absolute;
    left : 45%;
    margin-left: px;
  margin-top: -250px;
    padding-top: px;
    padding-bottom: 50px;
    text-align: center;
    border-radius: 5px;
    color: #DC143C;
    font-size: .5em;
  span: 
  font-family: "Nuecha";
  font-size: 2em;
  letter-spacing: .125em;
  }

  @-webkit-keyframes spaceboots {
  0% {
    -webkit-transform: translate(2px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-2deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(2deg);
  }
  30% {
    -webkit-transform: translate(0px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(2deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-2deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(2px, 1px) rotate(-2deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(2deg);
  }
  90% {
    -webkit-transform: translate(2px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-2deg);
  }
}

.shake {
  -webkit-animation-name: spaceboots;
  -webkit-animation-duration: 0.8s;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
